

/* ==========================================================================
    custom styles
   ========================================================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

.section {
    height: 100%;
    padding-top: 200px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.bottom-section{
    background-color: #292b40;
    font-family: 'Montserrat', sans-serif;
}


#home{
 background: url("../images/bg4.jpg") no-repeat center center fixed;  
 background-size: 1920px 1376px;
}

h1{
	font-size: 55px;
}

#welcomeText{
    color: white;
}

.navbar-default, .navbar, .navbar-header{
    background-color: #292b40;
    border-color:#292b40;
    background-image: none;
    background-repeat: no-repeat;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav > li > a{
    color: white;
}


.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: white;
}

.card{
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
}

.card-internals > h3,p{
    color: black;
}

.card-internals{
    background-color: white;
    padding: 20px;
    height: 
}

@media (max-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ 

}
@media (max-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 

}
@media (max-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 

	h1{
		font-size: 45px;
	}

    .section{
        padding-top:150px;
    }

    .card{
        margin-top: 0px;
    }

}
@media (max-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 

}
@media (max-width:1025px) { /* big landscape tablets, laptops, and desktops */ 

}
@media (max-width:1281px) { /* hi-res laptops and desktops */ 

}

.row {
    max-width: 1140px;
    margin: 0 auto;
}



header {
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://hd.unsplash.com/uploads/1413142095961484763cf/d141726c');
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://hd.unsplash.com/uploads/1413142095961484763cf/d141726c');
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    position: relative;
}
.contact-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.contact-hero {
    margin-top: 0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
    font-weight: 300;
    font-size: 48px;

}

@media only screen and (max-width: 1200px) {
    .hero-text-box {
        width: 100%;
        padding: 0 2%;
    }
    
    .row { padding: 0 2%; }
}


.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #cf6d17;
    color: #fff;
}
