

/* ==========================================================================
    custom styles
   ========================================================================== */

body {
    width: 100%;
    height: 100%;
}

html {
    width: 100%;
    height: 100%;
}

.section {
    height: 100%;
    padding-top: 200px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.bottom-section{
    background-color: #292b40;
    font-family: 'Montserrat', sans-serif;
}


#home{
 background: url("../images/bg4.jpg") no-repeat center center fixed;  
 background-size: 1920px 1376px;
}

h1{
	font-size: 55px;
}

#welcomeText{
    color: white;
}

.navbar-default, .navbar, .navbar-header{
    background-color: #292b40;
    border-color:#292b40;
    background-image: none;
    background-repeat: no-repeat;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-nav > li > a{
    color: white;
}


.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
color: white;
}

.card{
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
}

.card-internals > h3,p{
    color: black;
}

.card-internals{
    background-color: white;
    padding: 20px;
    height: 
}

@media (max-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ 

}
@media (max-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 

}
@media (max-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 

	h1{
		font-size: 45px;
	}

    .section{
        padding-top:150px;
    }

    .card{
        margin-top: 0px;
    }

}
@media (max-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 

}
@media (max-width:1025px) { /* big landscape tablets, laptops, and desktops */ 

}
@media (max-width:1281px) { /* hi-res laptops and desktops */ 

}

